.about-section {
  @extend .flex-center;
  margin: 20vh 0;
}

.about-text {
  color: white;
  font-size: 1.7em;
  max-width: 80vw;
  line-height: 1.5em;
  text-align: center;

  @include mobile {
    max-width: 73vw;
  }
}
