@import "media-queries";

header {
  @extend .flex-center;
  width: 100vw;
  position: fixed;
  top: 5vh;

  span {
    color: white;
    font-size: 1.8em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
  }
}
