@import "media-queries";

header {
  @extend .flex-center;
  width: 100vw;
  background-color: black;
  position: fixed;
  z-index: 3;
  padding-top: 8vh;

  span {
    color: white;
    font-size: 1.8em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
  }
}
