@import "media-queries";

.hero-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
  color: rgba(255,255,255,1);
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  max-width: 6em;
  letter-spacing: 0.02em;
  margin-bottom: 5em;
  padding-left: 1.89em;
  z-index: 2;
}

.hero-img {
  background-image: url('../build/img/hero-banner.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 41vh;
  z-index: 1;
  position: relative;
  bottom: 45em;
  filter: blur(1px);
}
