@import "media-queries";

.hero-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
  color: rgba(255,255,255,1);
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  max-width: 6em;
  letter-spacing: 0.02em;
  margin-bottom: 3em;
  padding-left: 1.89em;
  z-index: 2;
}

.hero-img {
  background-image: url('../build/img/hero-banner.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 41vh;
  z-index: 1;
  position: relative;
  bottom: 54em;
}

.arrow-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 37em;

  :hover {
    opacity: 0.5;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.square-container {
  border: 1px solid white;
  padding: 1em;
  opacity: 0.8;
}

.arrow-down {
  width: 0em;
  height: 0em;
  border-left: 1.4em solid transparent;
  border-right: 1.4em solid transparent;
  border-top: 2em solid white;
  opacity: 1;
}
