.services-section {
  color: white;
  // text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  height: 95vh;

h2 {
  font-size: 2em;
}

span {
  font-size: 4em;
}
}
