.services-section {
  color: white;
  @extend .flex-center;
  flex-flow: column;
  align-items: center;

h2 {
  font-size: 2em;
}

ul {
  list-style: none;
  @extend .flex-center;
  flex-flow: column;

  li {
    font-size: 1.7em;
    line-height: 2em;
    max-width: 90vw;
  }
}

hr {
  color: white;
  width: 65vw;
}

span {
  padding: 1.5em 0em 3em 0em;
  font-size: 1.4em;
  max-width: 60vw;
}
}
